{% extends "::base.html.twig" %}

{% block header %} {# A REFAIRE #}
    <nav class="navbar navbar-inverse">
        <div class="bandeau">
            <h1>À 4 Mains</h1> {# Remplacer par image logo => Elodie ? #}
        </div>
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
                <li><a href="#">Catégorie 1</a></li>
                <li><a href="#">Catégorie 2</a></li>
                <li><a href="#">Catégorie 3</a></li>
                <li><a href="#">Catégorie 4</a></li>
                <li><a href="#">Catégorie 5</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}