h1 {
  text-align: center;
  font-family: "Verdana", "Arial", serif;
}

.bandeau{
  height: 80px;
  width: 100%;
  display: table;
  background-color: #BBAE98;
  padding-top: 0;
  border-bottom: 1px solid black;
  margin-top: -5px;
}

.bandeau h1 {
  display: table-cell; vertical-align: middle;
}